.cls-1 {
  fill: #62af24;
}
.cls-3 {
  fill: #f1f1f1;
}
.cls-17 {
  fill: #575757;
  fill-rule: evenodd;
}

.st3 {
  fill: none;
}
.st6,
.st9 {
  fill: none;
  stroke: #666;
}
.st9 {
  stroke: #fff;
  stroke-width: 3;
}
.st12 {
  font-family: Lato;
}
.st13 {
  font-size: 31px;
}

.cls-4,
.cls-6 {
  fill: #a64e2b;
}
.cls-5 {
  fill: #6f3c14;
}
.cls-6 {
  opacity: 0.4;
  mix-blend-mode: multiply;
}
.cls-7 {
  fill: #933222;
}
.cls-11 {
  fill: #784218;
}
.cls-29 {
  mix-blend-mode: screen;
}
.cls-20 {
  fill: #bdbdbd;
}
.cls-18 {
  fill: #fff;
}
.cls-22 {
  fill: #888a8c;
}
.cls-23 {
  fill: #5c5d60;
}
.cls-26 {
  fill: #bec0c2;
}
.cls-29 {
  fill: #dadbdc;
}

.home-pattern {
  height: 80vh;
  width: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#objects {
  width: inherit;
  height: inherit;
}

#desk {
  width: inherit;
  height: inherit;
}

.ball {
  height: 70vh;
  top: 5%;
  width: auto;
  position: absolute;
  left: 30%;
  transform: translate(-40%, 0);
  z-index: 4;
}
#ball {
  width: inherit;
  height: inherit;
}
.desk {
  height: 70vh;
  width: auto;
  position: absolute;
  left: 70%;
  top: 70%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
#ball .btn {
  stroke: #fff;
  fill: #fff;
  fill-opacity: 0;
  stroke-opacity: 0;
}
.goal {
  animation-name: goal;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  fill: #000000;
  fill-opacity: 1;
}
.fly-away {
  display: none;
}

@keyframes goal {
  from {
    left: 30%;
    top: 5%;
    transform: rotate(0deg);
  }
  to {
    left: 30%;
    top: 15%;
    transform: rotate(360deg) scale(0.1);
  }
}
